Debug/
obj/
*.suo
*.Cache
*.sdf
*.user
*.orig
~*
.vs/
ref/
/XFormPulse/bin/Release/*/*.exe
/XFormPulse/bin/Release/*/XRibbonDemo.dll
/XFormPulse/bin/Release/*/XTabControlDemo.dll
/XFormPulse/bin/Release/*/XRibbonDemo.pdb
/XFormPulse/bin/Release/*/XTabControlDemo.pdb
/XFormPulse/bin/Release/*/*.json
/XFormPulse/bin/Release/*/*.config
/XFormPulse/bin/Release/*/*.manifest
/ScreenpressoDocs/ScreenpressoHelp_de.pdf
/ScreenpressoDocs/ScreenpressoHelp_fr.pdf
/XThirdParties/bin/Release/*/Newtonsoft.Json.dll
/XThirdParties/bin/Release/*/Newtonsoft.Json.xml
/XThirdParties/bin/Release/*/XThirdParties.pdb
/ScreenpressoDocs/ScreenpressoHelp_ja.pdf
/ScreenpressoCapture/src/Properties/launchSettings.json

.DS_Store
